reddit-ai-brief/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        14080,
        3180
      ],
      "id": "47c7dca9-846d-4e44-b326-1e1a667befb8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "ArtificialIntelligence+MachineLearning+OpenAI+DeepLearning+aipapers+LocalLLaMA+HuggingFace+AI_Startup",
        "keyword": "Artificial Intelligence",
        "limit": 20,
        "additionalFields": {
          "sort": "new"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        14300,
        3180
      ],
      "id": "82730bef-b9fe-4732-9f23-d2bc6f3649e8",
      "name": "Reddit",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI research assistant tasked with curating the most important scientific and technological updates about artificial intelligence from Reddit.\n\nYou are given a collection of Reddit posts and comments:\n\n{{ $json.selftext }}\n\nWrite a structured summary in fluent English, focusing on content that is relevant to scientific or technical monitoring. Your goal is to help researchers and engineers stay up to date with the latest important developments.\n\nPrioritize:\n- New AI models and benchmark results\n- Research publications, technical reports or major papers\n- Open-source tools, frameworks, or libraries\n- Scientific discussions with real implications\n- Major shifts in regulation, funding, or applications of AI\n\nWhenever a source is mentioned (e.g., blog, research paper, GitHub repo, official report, interview, or tool), include the **link** if available or clearly mention the **source name** (e.g., `(source)`, `(arXiv link)`, `(GitHub)`, etc.).\n\nIgnore anecdotal, humorous, speculative or off-topic posts unless they reveal a significant trend.\n\nGroup your summary by themes if possible, and write clearly and concisely in paragraph form (no bullet points). Stay under 700 words.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        14680,
        3180
      ],
      "id": "0c715360-7c77-493b-9839-ad5b7a0ac22d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "selftext"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        14480,
        3180
      ],
      "id": "7214a8f9-ef5b-4149-8134-4eb2ab11a767",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "your.email@example.com",
        "subject": "=📬 Daily AI News (Reddit) – {{ $now.format(\"dd MMM yyyy\") }}",
        "message": "=\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>🧠 Daily AI Flash — Reddit AI News Summary</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 30px;\">\n  <div style=\"max-width: 700px; margin: auto; background: white; padding: 25px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n    <h2 style=\"color: #4A90E2;\">🧠 Daily AI Flash — Reddit AI News Summary</h2>\n    <p style=\"color: #666; font-size: 14px;\">\n      Report from <strong>{{ $now.format(\"dd MMM yyyy\") }}</strong>\n    </p>\n    <div style=\"margin-top: 20px; color: #333; line-height: 1.6; font-size: 15px;\">\n      {{ $json.data }}\n    </div>\n    <hr style=\"margin-top: 30px; border: none; border-top: 1px solid #eee;\" />\n    <p style=\"font-size: 13px; color: #999;\">\n      This summary was generated by an AI agent built by Adel Messaoudi, based on Reddit content.\n      <br />\n      📡 A daily, focused briefing on artificial intelligence designed to deliver only what matters.\n    </p>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        15340,
        3180
      ],
      "id": "77c47ea2-177e-4f61-9604-d3c01faee601",
      "name": "Gmail",
      "webhookId": "5d610864-9db9-4847-8f15-3dde53e8b13e"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text}}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        15120,
        3180
      ],
      "id": "136167c4-d2e6-4d61-b269-7669cf9cbb0d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        14680,
        3400
      ],
      "id": "06b94bee-6683-496c-a3e7-5641e1a4d062",
      "name": "DeepSeek Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70e8fd66-b67b-4c00-882a-e235efd76d71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae6e9c4cc37deb7843e8608dcd40b22f038a019b8ba630eab889e8c72021c8cf"
  },
  "id": "KkEoobt2f4jMQqcO",
  "tags": []
}
