n8n-version/venturebeat-ai-brief/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "maxItems": 7
      },
      "id": "0338ae31-83ad-441b-a901-712a56ffe51b",
      "name": "Limit to first ",
      "type": "n8n-nodes-base.limit",
      "position": [
        17260,
        3860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "your.email@example.com",
        "subject": "=📬 Daily AI News (VentureBeat) – {{ $now.format(\"dd MMM yyyy\") }}",
        "message": "=\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>🧠 Daily AI Flash — Summary of VentureBeat AI News</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 30px;\">\n  <div style=\"max-width: 700px; margin: auto; background: white; padding: 25px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">\n\n    <h2 style=\"color: #4A90E2;\">🧠 Daily AI Flash — Summary of VentureBeat AI News</h2>\n    <p style=\"color: #666; font-size: 14px;\">\n      Report from <strong>{{ $now.format(\"dd MMM yyyy\") }}</strong>\n    </p>\n\n    <div style=\"margin-top: 20px; color: #333; line-height: 1.6; font-size: 15px;\">\n      {{ $json.data }}\n    </div>\n\n    <hr style=\"margin-top: 30px; border: none; border-top: 1px solid #eee;\" />\n\n    <p style=\"font-size: 13px; color: #999;\">\n      This summary was automatically generated from VentureBeat by an AI agent designed by Adel Messaoudi.\n      <br />\n      📡 A daily briefing on artificial intelligence delivered straight to your inbox.\n    </p>\n\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        18760,
        3860
      ],
      "id": "00642b44-30ea-4fd7-8ea6-0f57c35a922c",
      "name": "Gmail1",
      "webhookId": "9b69d4a4-3254-456c-a7bc-db444ea4cd0a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant specialized in summarizing high-quality AI news for a technical and professional audience.\n\nYou are given a list of article summaries published today on VentureBeat, all focused on artificial intelligence:\n\n{{ $json.fullText }}\n\nWrite a clear, well-structured, and comprehensive summary in fluent English.\n\nOrganize the content into **several thematic sections** (e.g., Open Models, Research, Transparency, Industry Trends, etc.), each with a short paragraph (3–6 lines). You can choose the most natural themes based on the articles.\n\nMake sure to:\n- Cover all key developments of the day\n- Group related articles into meaningful sections\n- Write in a neutral, informative tone — like a daily scientific briefing\n- Avoid bullet points. Use full sentences and short paragraphs\n- Include a **References** section at the end, listing each article title with its link\n\nStay under 700 words.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        18000,
        3860
      ],
      "id": "e380f3f4-6a9d-4afa-8e82-537ce47c9ff9",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16640,
        3860
      ],
      "id": "1fbe6d29-5c38-4aa7-a0ce-54f41447e186",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fa4ddb2-4cea-4c86-8564-e4b5edb33648",
              "name": "fullText",
              "value": "=📄 Titre : {{ $json.title }}\n🔗 Lien : {{ $json.link || $json.guid || \"https://arxiv.org/abs/\" + ($json.id || \"\").split(\"/\").pop() }}\n📜 Résumé original : {{ $json.content }}\n",
              "type": "string"
            },
            {
              "id": "062c9e06-96e5-4d79-8d0d-6491ca45e577",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "23abc85b-00f0-4fe6-9791-7d7c0435a1bf",
              "name": "link",
              "value": "={{ $json.link || $json.guid || \"https://arxiv.org/abs/\" + ($json.id || \"\").split(\"/\").pop() }}",
              "type": "string"
            },
            {
              "id": "a78da768-a3d6-4de9-9b51-96b10e870d97",
              "name": "date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17480,
        3860
      ],
      "id": "c05828fb-eb4c-436e-8b73-32838352dac2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        16980,
        3860
      ],
      "id": "6b67fdc4-1ab1-4b3b-bf13-ea9dd9c52dad",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        17880,
        4080
      ],
      "id": "221d4217-037e-4f04-953b-3e3f55922e8e",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fullText"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        17740,
        3860
      ],
      "id": "1acb7486-d9c4-4cc4-baf9-1c0749acc744",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text}}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        18440,
        3860
      ],
      "id": "d79dcf0f-5837-4923-b88e-1f0ba8cb280e",
      "name": "Markdown"
    }
  ],
  "pinData": {},
  "connections": {
    "Limit to first ": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit to first ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70e8fd66-b67b-4c00-882a-e235efd76d71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae6e9c4cc37deb7843e8608dcd40b22f038a019b8ba630eab889e8c72021c8cf"
  },
  "id": "KkEoobt2f4jMQqcO",
  "tags": []
}
